<div class="auth-container">
  <mat-card class="form-card">
    <mat-card-header>
      <div class="form-toggle">
        <button mat-button (click)="toggleForm()" [class.active]="!showLogin" color="accent">
          Je m'inscris
        </button>
        <button mat-button (click)="logout()" *ngIf="isLoggedIn" color="warn">
          Déconnexion
        </button>
      </div>
    </mat-card-header>
    
    <mat-card-content class="form-content">
      <app-login *ngIf="showLogin"></app-login> <!-- Formulaire de connexion -->
      <app-sign-up *ngIf="!showLogin"></app-sign-up> <!-- Formulaire d'inscription -->
    </mat-card-content>
  </mat-card>
</div>