.auth-container {
  display: flex;
  justify-content: center; /* Centre la carte horizontalement */
  margin-top: 50px; /* Espace au-dessus de la carte */
}

.form-card {
  min-width: 50%; /* Largeur de la carte */
}

.form-content {
  display: flex; /* Utilise Flexbox pour centrer le contenu */
  flex-direction: column; /* Aligne les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  padding: 20px 0; /* Rembourrage en haut et en bas */
  text-align: center; /* Centre le texte */
}

h1, h2 {
  margin: 0; /* Supprime les marges par défaut des titres */
}

.form-toggle {
  display: flex; /* Utilise Flexbox pour le toggle */
  justify-content: center; /* Centre les boutons */
  width: 100%; /* Prend toute la largeur de la carte */
  margin-bottom: 20px; /* Espace en bas */
}

button.active {
  font-weight: bold;
  background-color: #1976d2; /* Changez cela selon votre palette de couleurs */
  color: white; /* Couleur du texte */
}