.verb-list-container {
  padding: 20px;
}

h2 {
  color: #2c3e50; /* Couleur du titre principal */
}

h3 {
  color: #2980b9; /* Couleur du sous-titre */
}

input {
  margin: 10px 0; /* Marge autour du champ de texte */
  padding: 5px; /* Rembourrage pour le champ de texte */
}

.back-button {
  background-color: #e74c3c; /* Couleur de fond rouge */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Rembourrage pour le bouton */
  cursor: pointer; /* Curseur en forme de main au survol */
  border-radius: 5px; /* Coins arrondis */
  margin: 20px 0; /* Marge en haut et en bas pour espacer les boutons */
  display: block; /* Le bouton sera un élément de bloc */
  text-align: center; /* Centrer le texte */
  transition: background-color 0.3s; /* Transition pour l'effet au survol */
}

.back-button:hover {
  background-color: #c0392b; /* Couleur plus foncée au survol */
}

/* Style du bouton "Obtenir verbes aléatoires" */
.get-verbs-button {
  background-color:#853aa3; /* Couleur de fond verte */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  padding: 10px; /* Rembourrage pour le bouton */
  cursor: pointer; /* Curseur en forme de main au survol */
  border-radius: 5px; /* Coins arrondis */
}

.get-verbs-button:hover {
  background-color:#853aa3; /* Couleur plus foncée au survol */
}

ul {
  list-style-type: none; /* Pas de puces pour la liste */
  padding: 0; /* Pas de rembourrage pour la liste */
}

li {
  background-color: #ecf0f1; /* Couleur de fond des éléments de la liste */
  margin: 5px 0; /* Marge entre les éléments de la liste */
  padding: 10px; /* Rembourrage pour les éléments de la liste */
  border-radius: 5px; /* Coins arrondis pour les éléments de la liste */
}

.verb-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.verb-item:hover {
  background-color: #f0f0f0;
}

.info-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #e7f3fe;
  border: 1px solid #b3d4fc;
  border-radius: 4px;
  color: #3178c6;
  font-weight: bold;
}