<div class="verb-list-container">
  <mat-card>
    <mat-card-header>
      <h2>Obtenez des Verbes Aléatoires</h2>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button (click)="goToChoicePage()">Retour à la page de choix</button>
      
      <mat-form-field appearance="fill">
        <mat-label>Choisissez le nombre de verbes aléatoires (2 à 10)</mat-label>
        <input
          matInput
          type="number"
          id="numberOfVerbs"
          [(ngModel)]="numberOfVerbs"
          min="2"
          max="10"
          required
          (change)="errorMessage = ''" />
      </mat-form-field>
      
      <button mat-raised-button color="primary" (click)="fetchRandomVerbs()">
        Obtenir {{ numberOfVerbs }} verbes aléatoires
      </button>
      
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      
      <div *ngIf="randomVerbs.length > 0">
        <h3>Verbes Aléatoires</h3>
        <ul>
          <li *ngFor="let verb of randomVerbs" (click)="selectedVerb = verb" class="verb-item">
            {{ verb }}
          </li>
        </ul>
        <div class="info-message">Cliquez sur un verbe pour afficher sa conjugaison.</div>
      </div>

      <app-verb-conjugation *ngIf="selectedVerb" [verb]="selectedVerb"></app-verb-conjugation>
    </mat-card-content>
  </mat-card>
</div>
 