.verb-list-container {
  padding: 20px;
}

h2 {
  color: #2c3e50;
}

h3 {
  color: #2980b9;
}

input {
  margin: 10px 0;
  padding: 5px;
}

.back-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 0;
  display: block;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 16px;
}

.back-button:hover {
  background-color: #c0392b;
}

.get-verbs-button {
  background-color: #853aa3;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.get-verbs-button:hover {
  background-color: #853aa3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ecf0f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.verb-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.verb-item:hover {
  background-color: #dcdcdc; /* Exemple de couleur au survol */
}hover {
  background-color: #f0f0f0;
}

.info-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #e7f3fe;
  border: 1px solid #b3d4fc;
  border-radius: 4px;
  color: #3178c6;
  font-weight: bold;
}