<div class="verb-list-container">
  <h2>Obtenez des Verbes Aléatoires</h2>

  <label for="numberOfVerbs">Choisissez le nombre de verbes aléatoires (2 à 20) :</label>
  <input
    type="number"
    id="numberOfVerbs"
    [(ngModel)]="numberOfVerbs"
    min="2"
    max="20"
    (change)="errorMessage = ''" />
    
  <button (click)="fetchRandomVerbs()">Obtenir {{ numberOfVerbs }} verbes aléatoires</button>
  
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
  <div *ngIf="randomVerbs.length > 0">
    <h3>Verbes Aléatoires</h3>
    <ul>
      <li *ngFor="let verb of randomVerbs">{{ verb }}</li>
    </ul>
  </div>
</div>