<mat-card>
  <mat-card-content>
    <div class="signup-container">
      <!-- Bouton de retour au login -->
      <button mat-button (click)="redirectToLogin()" color="primary" class="btn-back-login">
        Retour à la connexion
      </button>

      <form (ngSubmit)="onSubmit()" class="signup-form">
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
          <button mat-raised-button class="btn-login" (click)="redirectToLogin()">
            Aller à la connexion
          </button>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required />
          <mat-error *ngIf="!email">
            L'email est requis
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput type="text" [(ngModel)]="name" name="name" required />
          <mat-error *ngIf="!name">
            Le nom est requis
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
          <mat-error *ngIf="!password">
            Le mot de passe est requis
          </mat-error>
        </mat-form-field>

        <!-- Disparait si l'inscription est réussie -->
        <button class="btn-signup" *ngIf="!successMessage" type="submit">Je m'inscris</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>