<div class="verb-search-container">
  <mat-card>
    <mat-card-header>
      <h2>Recherche de Verbe</h2>
    </mat-card-header>
    <mat-card-content>
      <button  (click)="goToChoicePage()">Retour à la page de choix</button>

      <mat-form-field appearance="fill">
        <mat-label>Entrez un verbe</mat-label>
        <input
          matInput
          [(ngModel)]="verb"
          (keydown.enter)="searchVerb()"
          placeholder="Entrez un verbe"
          required
        />
      </mat-form-field>

      <button  color="primary" (click)="searchVerb()">
        Rechercher
      </button>

      <div *ngIf="verbInfo">
        <h3>Informations sur le verbe : {{ verb }}</h3>
        <pre>{{ verbInfo | json }}</pre>
      </div>
    </mat-card-content>
  </mat-card>
</div>