<div>
  <h2>Recherche de Verbe</h2>
  <div>
    <button (click)="goToChoicePage()">Retour à la page de choix</button>
    <!-- Autres contenus de votre composant -->
  </div>
  <input [(ngModel)]="verb" (keydown.enter)="searchVerb()" placeholder="Entrez un verbe" />
  <button (click)="searchVerb()">Rechercher</button> <!-- Bouton pour déclencher la recherche -->

  <div *ngIf="verbInfo"> <!-- Affiche les informations si verbInfo est défini -->
    <h3>Informations sur le verbe : {{ verb }}</h3>
    <pre>{{ verbInfo | json }}</pre> <!-- Affiche les données sous forme de JSON -->
  </div>
</div>