<h1>Bienvenue sur l'application Verbissimo</h1>
<mat-card>
  <mat-card-header>
    <mat-card-title>Liste des Verbes</mat-card-title>
    <mat-card-subtitle>Découvrez les verbes les plus utilisés en français</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Cliquez ici pour accéder à la liste complète des verbes.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/verbes">Voir Plus</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Conjugaison Aléatoire</mat-card-title>
    <mat-card-subtitle>Testez vos connaissances avec une conjugaison aléatoire</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Cliquez ici pour générer une conjugaison aléatoire.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" routerLink="/conjugaison">Commencer</button>
  </mat-card-actions>
</mat-card>
