.choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  width: 80%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-verb {
  background-color: #147e2f;
}

.search-verb:hover {
  background-color: #005324;
}

.search-random-verbs {
  background-color: #9b59b6;
}

.search-random-verbs:hover {
  background-color: #853aa3;
}

@media (min-width: 600px) {
  button {
      width: auto;
  }
}

.logout {
  background-color: #e74c3c;
}

.logout:hover {
  background-color: #c0392b;
}






